* {
  /* background-size: cover; */
  /* background-position: center; */
  font-family: Lato;
  /* font-weight: 300; */
  position: relative;
  /* height: 180vh; */
  color: #555;
  border: 30px solidwhite;
  margin-left: 100px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
}

.footerP {
  color: rgb(76, 30, 204);
  font-family: FiraSans-Regular, sans-serif;
  font-size: 16px;
}
