<div class="container">
  <p>
    <strong>Publisher:</strong>{{project.name}}
  </p>
  <p><strong>Quotes:</strong>{{project.quote}}</p>
  <p>
    <strong>Author:</strong>{{project.author}}
  </p>
  <p>
    <strong>Upvotes:</strong>{{project.upvotes}}
  </p>
  <p>
    <strong>Downvotes:</strong>{{project.downvotes}}
  </p>
  <p>
    <strong>Date:</strong>{{project.myDate}}
  </p>
  <!-- <p>{{project.description}}</p> -->
  <!-- <p><strong>This quote has been displayed in </strong> {{project.completeDate|dateCount}} days</p> -->
</div>
<br>
